@model Live.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
@Html.Partial("_LoginPartial")
<div class="content-center">
    <section id="registerForm">
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4>Create a new account</h4>
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div >
                @Html.LabelFor(m => m.Email)
                <div>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
            <div >
                @Html.LabelFor(m => m.Password)
                <div>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
            </div>
            <div >
                @Html.LabelFor(m => m.ConfirmPassword)
                <div>
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
            <div >
                <div>
                    <input type="submit"  value="Register" />
                </div>
            </div>
        }
    </section>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
