@model Live.Models.AddPhoneNumberViewModel
@{
    ViewBag.Title = "Phone Number";
}
@Html.Partial("_LoginPartial")
<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("AddPhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Add a phone number</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div >
        @Html.LabelFor(m => m.Number)
        <div>
            @Html.TextBoxFor(m => m.Number)
        </div>
    </div>
    <div >
        <div>
            <input type="submit"  value="Submit" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
