@model Live.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}
@Html.Partial("_LoginPartial")
<div class="content-center">
    <section id="registerForm">
        @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4>Change Password</h4>
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div >
                @Html.LabelFor(m => m.OldPassword)
                <div>
                    @Html.PasswordFor(m => m.OldPassword)
                </div>
            </div>
            <div >
                @Html.LabelFor(m => m.NewPassword)
                <div>
                    @Html.PasswordFor(m => m.NewPassword)
                </div>
            </div>
            <div >
                @Html.LabelFor(m => m.ConfirmPassword)
                <div>
                    @Html.PasswordFor(m => m.ConfirmPassword)
                </div>
            </div>
            <div >
                <div>
                    <input type="submit" value="Update"  />
                </div>
            </div>
        }
    </section>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
