@model Live.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

@Html.Partial("_LoginPartial")

<div class="content-center">
    <section id="registerForm">
        <h2>Account Settings</h2>
        <hr />
        <div>
            @if (Request.IsAuthenticated)
            {
                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                {
                    @Html.AntiForgeryToken()
                    <div><a href="javascript:document.getElementById('logoutForm').submit()">Log Off</a></div><br/>
                }
                <dl class="settings">
                    <dt>
                        Account Type <i class="fa fa-question-circle help-icon"></i>
                    </dt>
                    <dd>
                        @Model.User.UserType
                    </dd>
                </dl>
            }

            <br/>
            <h4>Security Settings</h4>
            <p class="text-success">@ViewBag.StatusMessage</p>
            <hr />
            <ul>
                <li class="no-bullet">
                    @if (Model.HasPassword)
                    {
                        @Html.ActionLink("Change Password", "ChangePassword")
                    }
                    else
                    {
                        @Html.ActionLink("Create Password", "SetPassword")
                    }
                </li>
                <li class="no-bullet">
                    @Html.ActionLink("Manage Logins", "ManageLogins") 
                </li>
            </ul>
        </div>
    </section>
</div>