@model Live.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

@Html.Partial("_LoginPartial")

<div class="content-center">
    <section id="registerForm">
        <h2>Account Settings</h2>
        <hr />
        <div>
            @if (Request.IsAuthenticated)
            {
                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                {
                    @Html.AntiForgeryToken()
                    <div><a href="javascript:document.getElementById('logoutForm').submit()">Log Off</a></div><br/>
                }
                <dl class="settings">
                    <dt>
                        @if (Model.User.UserType == Live.Models.UserType.Donor)
                        {
                            ViewBag.AccountMessage = "The Donor account type allows you to follow, share, and donate to existing Saving Chances.  "
                                                   + "If you represent a 501c3 organization, and would like to be able to create Saving Chances and "
                                                   + "accept crowd funding, "
                                                   + "<a href=\"mailto:accounts@savingchance.com?subject=Register My 501c3 - Account-Ref: "
                                                   + Model.User.Id + " - " + Model.User.Email + "&body=I'd like to upgrade my account to 501c3 status.  What do I need to do?\">"
                                                   + "contact us</a>, and we'll get you started.";
                        }
                        else
                        {
                            ViewBag.AccountMessage = "The Provider account type allows you follow, share and donate to existing Saving Chances, as well as creating your own Saving Chances, and accepting payments through them.";
                        }
                        
                        Account Type <i data-toggle="popover" data-html="true" data-placement="right" title="Account Type" data-content="@ViewBag.AccountMessage" class="fa fa-question-circle help-icon"></i>
                    </dt>
                    <dd>
                        @Model.User.UserType
                    </dd>
                </dl>
            }

            <br/>
            <h4>Security Settings</h4>
            <p class="text-success">@ViewBag.StatusMessage</p>
            <hr />
            <ul>
                <li class="no-bullet">
                    @if (Model.HasPassword)
                    {
                        @Html.ActionLink("Change Password", "ChangePassword")
                    }
                    else
                    {
                        @Html.ActionLink("Create Password", "SetPassword")
                    }
                </li>
                <li class="no-bullet">
                    @Html.ActionLink("Manage Logins", "ManageLogins") 
                </li>
            </ul>
        </div>
    </section>
</div>