@model Live.Models.ManageLoginsViewModel
@using Microsoft.Owin.Security
@{
    ViewBag.Title = "Manage your external logins";
}
@Html.Partial("_LoginPartial")

<div class="content-center">
    <section id="loginForm">
        <p class="text-success">@ViewBag.StatusMessage</p>
        @{
            var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
            if (loginProviders.Count() > 0)
            {
                if (Model.CurrentLogins.Count > 0)
                {
                    if (ViewBag.ShowRemoveButton)
                    {
                        <h4>Currently Registered Login(s) [Click to Remove]</h4>
                        <hr />
                        <div id="socialLoginList">
                        @foreach (var account in Model.CurrentLogins)
                        {
                            using (Html.BeginForm("RemoveLogin", "Manage", FormMethod.Post, new { @class = "block-form"}))
                            {
                                @Html.AntiForgeryToken()
                                @Html.Hidden("loginProvider", account.LoginProvider)
                                @Html.Hidden("providerKey", account.ProviderKey)
                                <button type="submit"
                                        id="@account.LoginProvider"
                                        title="Remove your @account.LoginProvider login from your account">
                                    @switch (account.LoginProvider)
                                    {
                                        case "Google":
                                            <i class="fa fa-google-plus-square"></i>
                                            break;
                                        case "Facebook":
                                            <i class="fa fa-facebook-official"></i>
                                            break;
                                    }
                                </button>
                            }
                        }
                        </div>
                    }
                    else
                    {
                        <p>You do not have a SavingChance username/password so you must have at least one external login from the options below.  You may link as many additional logins as you desire.</p>
                        <hr />
                        <h4>Currently Registered Login(s)</h4>
                        <hr />
                        <div id="socialLoginList">
                            @foreach (var account in Model.CurrentLogins)
                            {
                                switch (account.LoginProvider)
                                {
                                    case "Google":
                                        <i class="fa fa-google-plus-square"></i>
                                        break;
                                    case "Facebook":
                                        <i class="fa fa-facebook-official"></i>
                                        break;
                                }   
                            }
                        </div>
                    }
                    <br/>
                }
            }
            if (Model.OtherLogins.Count > 0)
            {
                <div class="clearfix">
                    <h4>Available Login(s) [Click to Assign]</h4>
                    <hr/>
                    @using (Html.BeginForm("LinkLogin", "Manage"))
                    {
                    @Html.AntiForgeryToken()
                    <div id="socialLoginList">
                        <p>
                            @foreach (AuthenticationDescription p in Model.OtherLogins)
                            {
                                <button type="submit" 
                                        id="@p.AuthenticationType"
                                        name="provider"
                                        value="@p.AuthenticationType"
                                        title="Log in using your @p.Caption account">
                                    @switch (p.AuthenticationType)
                                    {
                                        case "Google":
                                            <i class="fa fa-google-plus-square"></i>
                                            break;
                                        case "Facebook":
                                            <i class="fa fa-facebook-official"></i>
                                            break;
                                    }
                                </button>
                            }
                        </p>
                    </div>
                    }
                </div>
            }
        }
    </section>
</div>