@model Live.Models.SetPasswordViewModel
@{
    ViewBag.Title = "Create Password";
}
@Html.Partial("_LoginPartial")
<div class="content-center">
    <section id="loginForm">
        <p class="text-info">
            You do not have a SavingChance username/password. Adding a password will allow you to login without the need to use your Facebook or Google account.
        </p>
        <br/>
        @using (Html.BeginForm("SetPassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

            <h4>Create Password</h4>
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div >
                @Html.LabelFor(m => m.NewPassword)
                <div>
                    @Html.PasswordFor(m => m.NewPassword)
                </div>
            </div>
            <div >
                @Html.LabelFor(m => m.ConfirmPassword)
                <div>
                    @Html.PasswordFor(m => m.ConfirmPassword)
                </div>
            </div>
            <div >
                <div>
                    <input type="submit" value="Create"  />
                </div>
            </div>
        }
    </section>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
