@model Live.Models.IndexViewModel

<div id="hero" class="tab">
    <div class="hero-background" style="background-image: url('@Model.User.HeroUri')"></div>
    <div class="hero-body">
        <div class="banner">
            <div><a href="@Model.User.PageUri" class="title" sc-data="Title" sc-placeholder="Page Title">@Model.User.Title</a></div>
            <div><a href="/?q=@Model.User.AtHandle" class="handle">@Model.User.AtHandle</a></div>
        </div>
        <div class="mission" sc-data="Mission" sc-placeholder="Mission Statement...">
            @(new HtmlString(Model.User.Mission))
        </div>
        <div class="contact-us" sc-data="ContactUs" sc-placeholder="Contact Information...">
            @(new HtmlString(Model.User.ContactUs))
        </div>
    </div>
</div>
