@model Live.Models.IndexViewModel

<div id="hero" class="tab">
    <div class="hero-background" style="background-image: url('@Model.User.HeroUri')"></div>
    <div class="hero-body">
        <div class="banner">
            <div><a href="@Model.User.PageUri" sc-data-attr="href:PageUri" class="title" sc-data="Title" sc-placeholder="Page Title">@Model.User.Title</a></div>
            <div><a href="/?q=@Model.User.AtHandle" class="handle">@Model.User.AtHandle</a></div>
        </div>
        <div class="mission" sc-data="Mission" sc-placeholder="Mission Statement...">
            @(new HtmlString(Model.User.Mission))
        </div>
        <div class="contact-us" sc-data="ContactUs" sc-placeholder="Contact Information...">
            @(new HtmlString(Model.User.ContactUs))
        </div>
        <div class="followers">
            <div><i class="fa fa-share-alt mirrored"></i> <span sc-data-noedit="FollowerCount" sc-data-format="function(data){ return data.toLocaleString(); }">@Convert.ToDecimal(Model.User.FollowerCount).ToString("#,##0")</span></div>
            <div>followers</div>
        </div>
        <div class="following">
            <div><i class="fa fa-share-alt"></i> <span sc-data-noedit="FollowerCount" sc-data-format="function(data){ return data.toLocaleString(); }">@Convert.ToDecimal(Model.User.FollowingCount).ToString("#,##0")</span></div>
            <div>following</div>
        </div>
    </div>
</div>
