<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/jquery-ui.min.css" />
    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCHcaXbboAjuHvwt9uz7P3Hz67Om5M429g"></script>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script src="/Scripts/jquery.touchSwipe.min.js"></script>
    <script src="/Scripts/ng_infiniteScroll.js"></script>
    <script src="/Scripts/dropzone.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Archivo+Narrow:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/main.css" />
</head>
<body style="margin: 0; padding: 0;">
    <div id="fb-root"></div>
    <script>
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=1516907565266690";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <header id="header" resize>
        <a href="/">
            <div class="logo">
            </div>
        </a>
        <div class="tool" id="navTool">
            <a id="navButton" href="#" title="Navgiation"><i class="fa fa-bars"></i></a>
        </div>

        @using Microsoft.AspNet.Identity
        @if (Request.IsAuthenticated)
        {
            <div class="tool selected">
                <a href="/Manage" title="@User.Identity.GetUserName()"><i class="fa fa-user"></i></a>
            </div>
        }
        else
        {
            <div class="tool">
                <a href="/Account/Login" title="Login"><i class="fa fa-user"></i></a>
            </div>
        }

        <form id="search-form" name="search-form" target="_self" method="get" onsubmit="return doSearch()">
            <label for="search" class="search" onclick="toggleShortcuts()"><i class="fa fa-chevron-circle-down"></i></label>
            <input class="search" id="search" name="q" placeholder="&#64;handle, #tags or ?" value="@ViewBag.QueryTerms" />
            <input type="submit" style="height: 1px; width: 1px; position: absolute; left: -9999px;" tabindex="-1" />
            <div id="shortcuts">
                <button type="button" class="close" onclick="toggleShortcuts()">&times;</button>
                <p>In addition to user defined tags, you can choose from the tags below to apply special system filters to provide unique ways to find Chances.</p>
                <ul>
                    <li><a href="/?q=%23mine">#mine</a></li>
                    <li><a href="/?q=%23following">#following</a></li>
                    <li><a href="/?q=%23new">#new</a></li>
                    <li><a href="/?q=%23expiring">#expiring</a></li>
                    <li><a href="/?q=%23almostthere">#almostthere</a></li>
                    <li><a href="/?q=%23adoption">#adoption</a></li>
                    <li><a href="/?q=%23donation">#donation</a></li>
                    <li><a href="/?q=%23trending">#trending</a></li>
                </ul>
            </div>
        </form>
        
    </header>
    <nav id="nav">
        <a href="/" class="hover"><i class="fa fa-home"></i> Chance Feed</a>
        @if (Request.IsAuthenticated)
        {
            <a href="/&#64;me" class="hover"><i class="fa fa-at"></i> Me</a>
            <span class="separator"></span>
            if (((System.Security.Claims.ClaimsIdentity)((System.Security.Claims.ClaimsPrincipal)User).Identity).HasClaim(c => c.Type == "UserType" && c.Value == "Provider")
                && ((System.Security.Claims.ClaimsIdentity)((System.Security.Claims.ClaimsPrincipal)User).Identity).HasClaim(c => c.Type == "ServiceProviderType" && c.Value == "Rescue"))
            {
                <a href="/Chance/Create" class="hover"><i class="fa fa-plus"></i> Create a Chance</a>
                <span class="separator"></span>
                <a href="/?q=%23Mine" class="hover"><i class="fa fa-user"></i> My Chances</a>
            }
            <a href="/?q=%23Following" class="hover"><i class="fa fa-heart"></i> Following</a>
        }
        <span class="separator"></span>
        <a href="/HowItWorks" class="hover"><i class="fa fa-question"></i> How it Works</a>
        <span class="separator"></span>
        <a href="#" title="Share us on Facebook" class="hover" onclick="fbShare()"><i class="fa fa-facebook"></i> Share on Facebook</a>
    </nav>
    <div class="content-container" ng-app='sc'>
        @RenderBody()
        <div class="clearfix"></div>
    </div>
    <footer>
        <div class="center">
            <ul class="links">
                <li><a href="/Privacy">Privacy</a></li>
                <li><a href="/Legal">Legal</a></li>
                <li><a href="/About">About</a></li>
            </ul>
        </div>
    </footer>
    @RenderSection("scripts", required: false)
    <script>
        @{bool isLoggedIn = Request.IsAuthenticated;}
        @{bool isProvider = isLoggedIn ? ((System.Security.Claims.ClaimsIdentity)((System.Security.Claims.ClaimsPrincipal)User).Identity).HasClaim(c => c.Type == "UserType" && c.Value == "Provider") : false ;}
        @{string token = "";
            var claim = ((System.Security.Claims.ClaimsIdentity)((System.Security.Claims.ClaimsPrincipal)User).Identity).Claims.FirstOrDefault(c => c.Type == "BearerToken");
            if (claim != null)
            {
                token = claim.Value;
            }
         }
        window.sc_loggedIn = @isLoggedIn.ToString().ToLower();
        window.sc_isProvider = @isProvider.ToString().ToLower();
        window.sc_apiToken = '@token';
    </script>
    <script src="/Scripts/fb.js"></script>
    <script src="/ng/main.js"></script>
    <script src="/ng/areas/main/browse.js"></script>
    <script src="/ng/areas/details/details.js"></script>
    <!--
    To collect end-user usage analytics about your application,
    insert the following script into each page you want to track.
    Place this code immediately before the closing </head> tag,
    and before any other scripts. Your first data will appear
    automatically in just a few seconds.
    -->
    <script type="text/javascript">
        var appInsights=window.appInsights||function(config){
            function r(config){t[config]=function(){var i=arguments;t.queue.push(function(){t[config].apply(t,i)})}}var t={config:config},u=document,e=window,o="script",s=u.createElement(o),i,f;for(s.src=config.url||"//az416426.vo.msecnd.net/scripts/a/ai.0.js",u.getElementsByTagName(o)[0].parentNode.appendChild(s),t.cookie=u.cookie,t.queue=[],i=["Event","Exception","Metric","PageView","Trace"];i.length;)r("track"+i.pop());return r("setAuthenticatedUserContext"),r("clearAuthenticatedUserContext"),config.disableExceptionTracking||(i="onerror",r("_"+i),f=e[i],e[i]=function(config,r,u,e,o){var s=f&&f(config,r,u,e,o);return s!==!0&&t["_"+i](config,r,u,e,o),s}),t
        }({
            instrumentationKey:"c18d2725-7a23-428e-b2f2-065c71e8e531"
        });

        window.appInsights=appInsights;
        appInsights.trackPageView();
    </script>
    <script type="text/javascript">
        var isShortuctsOpen = false;
        function toggleShortcuts()
        {
            var $search = $('#search-form');
            var $popup = $('#shortcuts');
            if (isShortuctsOpen)
            {
                isShortuctsOpen = false;
                $popup.css('display', 'none');
            }
            else
            {
                var top = $search.offset().top + $search.height();
                var left = 0;
                var width = $search.width();
                $popup.css({display: 'block', top: top + 'px', left: left + 'px', width: width + 'px'});
                isShortuctsOpen = true;
            }
        }
    </script>
</body>
</html>
